*,
*::before,
*::after {
  box-sizing: border-box;
}

/* fonts */

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter_100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter_200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter_300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter_400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter_500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter_600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter_700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter_800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter_900.woff2") format("woff2");
}

:root {
  /* --color-light: #fff;
  --color-grey: #838383;
  --color-dark: #1d1d1f; */
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 40px 15px;
  width: 100%;
  max-width: 1000px;
  gap: 40px;
}

.content__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 32px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  position: relative;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #f5f5f5;
  transition: background-color 0.3s;
  cursor: pointer;
}

.category::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--color);
  flex-shrink: 0;
}

.category:hover,
.category.category--active {
  background-color: #e0e0e0;
  border: 1px solid var(--color);
}

.chart-container {
  position: relative;
  width: 240px;
  height: 240px;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.center-text span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  margin-top: 6px;
}

.slice {
  transform-origin: 50% 50%;
  stroke: var(--color);
  cursor: pointer;
  transform: scale 0.3s, stroke-width 0.3s;
}

.slice:hover,
.slice.slice--active {
  scale: 1.05;
  stroke-width: 25px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
